@import "commonStyles.css";

#common-div {
    display: flex;
    padding: 0;
}

#listView {
    margin: 12px 0px 0px 0px;
    height: 336px;
    border: 1px solid #A9A9A9;
    padding: 0;
}

.listViewItemTemplate {
    padding: 0;
}

.smallListIconTextItem-Detail {
    padding: 10px;
}

.page-header .container {
    margin-bottom: 38px;
}

#controls {
    width: 444px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
}

#controls button {
    width: 100%;
}

input[type=file] {
    opacity: 0;
    height: 0px;
    max-width: none !important;
}

#input-list, #input-grid {
    max-width: none !important;
    width: 100%;
}

input {
    width: 100%;
    max-width: none !important;
}

#words {
    margin-top: -44px;
}

#words2 {
    margin-top: -20px;
    margin-bottom: 12px;
}

#svg-div {
    flex: 1;
    padding-left: 12px;
    padding-bottom: 20px;
}

#buttons-div {
    margin-top: 47px;
    padding-left: 24px;
}

#up, #down, #left, #right, #rotate, #delete {
    font-size: 30px;
    text-decoration: none;
}

#left span:first-child,
#right span:first-child,
#up span:first-child,
#down span:first-child,
#rotate span:first-child,
#delete span:first-child {
    margin-left: 17px;
}

#buttons-div {
    margin-top: 36px;
    text-align: center;
}

#buttons-div a:hover {
    opacity: 0.5;
}

#buttons-div span:first-child {
    display: block;
    margin-bottom: -16px;
}

#up span:first-child,
#down span:first-child {
    margin-bottom: -22px;
}

@media (max-width: 768px) {

#controls {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
}

#svg-div {
    margin-top: -20px;
    padding-left: -12px;
    min-width: unset;
}

#common-div {
    display: block;
    margin-bottom: 0;  
}

#listView {
    height: auto;
}

#buttons-div {
    margin-top: 0px;
    padding-left: 0px;
}

#up, #down, #left, #right, #rotate, #delete {
    font-size: 20px;
    text-decoration: none;
}

#left span:first-child,
#right span:first-child,
#up span:first-child,
#down span:first-child,
#rotate span:first-child,
#delete span:first-child {
    margin-right: 12px;
}

#buttons-div {
    display: flex;
    margin-bottom: 40px;
}

#buttons-div a {
    display: flex;
}

#buttons-div a:hover {
    opacity: 0.5;
}

#buttons-div span:first-child {
    display: block;
    margin-bottom: -24px;
}

#up span:first-child,
#down span:first-child {
    margin-bottom: -24px;
}

}

@media (max-width: 610px) {
.type-c1 {
    display: none;
}
}