@import "commonStyles.css";

#common-div {
    display: flex;
    padding: 0;
}

#listView {
    flex: 1;
    padding: 0;
    height: 512px;
}

.listViewItemTemplate {
    padding: 0;
}

.smallListIconTextItem-Detail {
    padding: 10px;
}

.page-header .container {
    margin-bottom: 38px;
}

#controls {
    width: 296px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-right: 1px solid #A9A9A9;
}

#controls button {
    width: 100%;
}

#buttons-div {
    display: block;
}