@import "commonStyles.css";

#common-div {
    display: flex;
    padding: 0;
    padding-bottom: 20px;  
}

#listView {
    border: 1px solid #A9A9A9;
    flex: 1;
    margin: 12px 0px 0px 0px;
    height: 512px;
    padding: 0;
}

.listViewItemTemplate {
    padding: 0;
}

.smallListIconTextItem-Detail {
    padding: 10px;
}

.page-header .container {
    margin-bottom: 38px;
}

#controls {
    width: 444px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
}

#controls button {
    width: 100%;
}

#buttons-div {
    display: block;
}

#secret {
    text-transform: lowercase;
    background: -webkit-gradient(linear, left bottom,left top,color-stop(0.2, green),color-stop(0.8, blue)), black;
    -webkit-background-clip: text;
    color: transparent;
}

input[type=file] {
    opacity: 0;
    height: 0px;
}

#input-a {
    margin-top: 36px;
}

input {
    width: 100%;
    max-width: none !important;
}

#input-a {
    width: 100%;
}

#words {
    margin-top: -44px;
}

@media (max-width: 768px) {

#controls {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
}

#common-div {
    display: block;
}

#listView {
    height: auto;
    margin-left: 12px;
}

}