@import "commonStyles.css";

#common-div {
    display: flex;
    padding: 0;
}

#listView {
    flex: 1;
    padding: 0;
    height: 512px;
}

.listViewItemTemplate {
    padding: 0;
}

.smallListIconTextItem-Detail {
    padding: 10px;
}

.page-header .container {
    margin-bottom: 38px;
}

#controls {
    width: 296px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-right: 1px solid #A9A9A9;
}

#controls button {
    width: 100%;
}

#buttons-div {
    display: block;
}

#secret {
    text-transform: lowercase;
    background: -webkit-gradient(linear, left bottom,left top,color-stop(0.1, green),color-stop(0.8, blue)), black;
    -webkit-background-clip: text;
    color: transparent;
}

input[type=file] {
    opacity: 0; width:234px; height:0px;
}

#input-a {
    margin-top: 36px;
}